<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
 <img id="joker" src="http://i.imgur.com/dyEPUmu.png" title="source: imgur.com" />
    <%= yield %>
  </body>
</html>
